[submodule "libopus/opus"]
	path = libopus/opus
	url = https://github.com/xiph/opus.git
[submodule "libopus/speexdsp"]
	path = libopus/speexdsp
	url = https://github.com/xiph/speexdsp.git
[submodule "ckeditor5/upstream"]
	path = ckeditor5/upstream
	url = https://github.com/ckeditor/ckeditor5.git
