.RegionEditor-container input{width:40px}.RegionEditor-toggle{text-align:left;cursor:pointer;border:none;background:none;padding:.1rem;color:gray;font-size:.5rem}.RegionEditor-toggle:focus{outline:0}
