.FaceImages-card {
  margin: 0 0 2px 0;
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
}

.FaceImages-photo {
  display: block;
  width: 36px;
  height: 36px;
}

.FaceImages-name {
  position: absolute;
  top: 1px;
  left: 1px;
  color: #f5f5f5;
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 #4848487a;
}

.FaceImages-mesg {
  position: absolute;
  bottom: 2px;
  left: 1px;
  color: white;
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-family: sans-serif;
  cursor: help;
}

.FaceImages-live-indicator {
  position: absolute;
  top: 1px;
  right: 1px;
  color: red;
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-family: sans-serif;
  cursor: default;
  /* animation: FaceImagesBlink 1.5s infinite; */
}

@keyframes FaceImagesBlink {
   0% { opacity: 0 }
  50% { opacity: 1 }
 100% { opacity: 0 }
}

.FaceImages-mic-speaker-icons {
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: 0.5rem;
  line-height: 0.5rem;
  cursor: default;
}
