.FaceImage-container {
  float: left;
  margin-right: 10px;
}

.FaceImages-card {
  margin: 0 2px 2px 0;
  position: relative;
}

.FaceImages-photo {
  display: block;
  width: 36px;
  height: 36px;
}

.FaceImages-name {
  position: absolute;
  top: 1px;
  left: 1px;
  color: white;
  font-size: 8px;
  line-height: 8px;
  font-family: sans-serif;
}

.FaceImages-mesg {
  position: absolute;
  bottom: 2px;
  left: 1px;
  color: white;
  font-size: 8px;
  line-height: 8px;
  font-family: sans-serif;
}
