.FaceImage-container {
  overflow: hidden;
}

.FaceImages-card {
  margin: 0 0 2px 0;
  position: relative;
}

.FaceImages-photo {
  display: block;
  width: 36px;
  height: 36px;
}

.FaceImages-name {
  position: absolute;
  top: 1px;
  left: 1px;
  color: white;
  font-size: 8px;
  line-height: 8px;
  font-family: sans-serif;
}

.FaceImages-mesg {
  position: absolute;
  bottom: 2px;
  left: 1px;
  color: white;
  font-size: 8px;
  line-height: 8px;
  font-family: sans-serif;
}

.FaceImages-live-indicator {
  position: absolute;
  top: 1px;
  right: 1px;
  color: red;
  font-size: 8px;
  line-height: 8px;
  font-family: sans-serif;
  cursor: default;
  animation: FaceImagesBlink 1.5s infinite;
}

@keyframes FaceImagesBlink {
   0% { opacity: 0 }
  50% { opacity: 1 }
 100% { opacity: 0 }
}
