.FaceCard-container {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
}

.FaceCard-photo {
  display: block;
  width: 36px;
  height: 36px;
}

.FaceCard-name {
  position: absolute;
  top: 1px;
  left: 1px;
  color: #f5f5f5;
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 #4848487a;
}

.FaceCard-mesg {
  position: absolute;
  bottom: 2px;
  left: 1px;
  color: white;
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-family: sans-serif;
  cursor: help;
}

button.FaceCard-mesg {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
}

button.FaceCard-mesg:focus {
  outline:0;
}

.FaceCard-mic-speaker-icons {
  position: absolute;
  bottom: 1px;
  right: 1px;
  font-size: 0.5rem;
  line-height: 0.5rem;
  cursor: default;
}
