.GatherArea-container {
  -webkit-app-region: no-drag;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.GatherArea-body {
  overflow: scroll;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.GatherArea-region {
  position: absolute;
  overflow: hidden;
}

.GatherArea-region > iframe {
  width: 100%;
  height: 100%;
}

.GatherArea-region-delete {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.5rem;
  line-height: 0.5rem;
  cursor: pointer;
  font-weight: 800;
  background-color: rgba(128, 128, 128, 0.9);
  padding: 2px;
}

.GatherArea-region-copy {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;
  cursor: pointer;
  font-weight: 800;
  background-color: rgba(128, 128, 128, 0.9);
  padding: 0px 2px;
}

.GatherArea-region-move {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.6rem;
  line-height: 0.6rem;
  cursor: move;
  font-weight: 800;
  background-color: rgba(128, 128, 128, 0.9);
  padding: 2px 3px;
}

.GatherArea-region-resize {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.6rem;
  line-height: 0.6rem;
  cursor: nwse-resize;
  font-weight: 800;
  background-color: rgba(128, 128, 128, 0.9);
  padding: 2px;
}

.GatherArea-avatar {
  position: absolute;
}

.GatherArea-avatar-balloon {
  position: absolute;
  left: -10px;
  bottom: 38px;
  color: black;
  background-color: white;
  border: gray solid 1px;
  border-radius: 20px;
  padding: 3px 6px;
  font-size: 0.5rem;
  text-align: center;
  white-space: nowrap;
}

.GatherArea-facelist {
  -webkit-app-region: drag;
  width: 36px;
}

.GatherArea-toolbar {
  -webkit-app-region: drag;
  overflow: scroll;
  position: absolute;
  left: 40px;
  top: 5px;
  display: flex;
}

.GatherArea-region-editor {
  -webkit-app-region: no-drag;
  margin: 5px;
  padding: 10px;
  background: lightyellow;
  border: 3px solid gray;
  border-radius: 8px;
}

.GatherArea-setting {
  -webkit-app-region: no-drag;
  margin: 5px;
  padding: 10px;
  background: rgb(224, 255, 228);
  border: 3px solid gray;
  border-radius: 8px;
}

.GatherArea-link-opener {
  -webkit-app-region: no-drag;
  margin: 5px;
  padding: 10px;
  background: skyblue;
  border: 3px solid gray;
  border-radius: 8px;
}
