.GoBoard-container {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.GoBoard-toolbar {
  font-size: x-small;
}

.GoBoard-toolbar button {
  font-size: x-small;
}

.GoBoard-canvas {
  flex: 1;
  width: 100%;
  height: 100%;
}
