.MeetingScreen-container {
  -webkit-app-region: no-drag;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.MeetingScreen-toolbar {
  border-bottom: gray 1px solid;
}

.MeetingScreen-toolbar > button, select {
  margin: 4px;
}

.MeetingScreen-body {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 100%);
  width: 100%;
  height: 100%;
}

.MeetingScreen-opener {
  position: relative;
  width: 100%;
  height: 100%;
}
