.MomentaryChat-container {
  -webkit-app-region: no-drag;
  margin-top: 5px;
  border-top: solid 0.1px #bbb;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 50px;
}

.MomentaryChat-editor {
  border: 1px solid lightgray;
}

.MomentaryChat-list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.MomentaryChat-listPart:hover {
  background-color: #f5f5f5;
}

.MomentaryChat-nickname {
  font-size: 14px;
  font-weight: bold;
}

.MomentaryChat-time {
  color: grey;
  margin-left: 10px;
  font-size: 12px;
}

.MomentaryChat-iconButton-container {
  position: absolute;
  right: 0;
}

.MomentaryChat-iconButton {
  opacity: 0;
}

.MomentaryChat-listPart {
  margin: 5px 0;
}

.MomentaryChat-listPart:hover .MomentaryChat-iconButton {
  opacity: 1;
}

.MomentaryChat-listPart-header {
  position: relative;
  margin-bottom: 5px;
}

.MomentaryChat-icon {
  background-color: #eee;
  border-radius: 35px;
  width: 35px;
  font-size: 10px;
  padding: 2px 1px;
  text-align: center;
  margin: 2px;
  display: inline-block;
}

.MomentaryChat-icon:focus {
  outline: 0;
}
