.MomentaryChat-container {
  -webkit-app-region: no-drag;
  overflow: hidden;
}

.MomentaryChat-list {
  list-style: none;
  padding-inline-start: 0;
}

.MomentaryChat-listPart:hover {
  background-color: #f5f5f5;
}

.MomentaryChat-nickname {
  font-weight: bold;
  display: inline-block;
}

.MomentaryChat-time {
  color: grey;
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}

.MomentaryChat-iconButton-container {
  float: right;
}

.MomentaryChat-iconButton {
  opacity: 0;
}

.MomentaryChat-listPart:hover .MomentaryChat-iconButton {
  opacity: 1;
}

.MomentaryChat-listPart-header {
  margin-bottom: 5px;
}

.Momentary-icon {
  background-color: #eee;
  border-radius: 35px;
  width: 35px;
  font-size: 10px;
  padding: 2px 1px;
  text-align: center;
  margin: 2px;
  display: inline-block;
}

.Momentary-icon:focus {
  outline: 0;
}
