.MomentaryChat-container {
  overflow: hidden;
}

.MomentaryChat-list {
  list-style: none;
  padding-inline-start: 0;
}

.MomentaryChat-listPart:hover {
  background-color: #f5f5f5;
}

.MomentaryChat-nickname {
  font-weight: bold;
}

.MomentaryChat-iconButton-container {
  float: right;
}

.MomentaryChat-iconButton {
  opacity: 0;
}

.MomentaryChat-listPart:hover .MomentaryChat-iconButton {
  opacity: 1;
}

.MomentaryChat-listPart-header {
  margin-bottom: 5px;
}

.Momentary-icon {
  background-color: #eee;
  border-radius: 30px;
  width: 30px;
  font-size: 10px;
  padding: 2px 1px;
  text-align: center;
  margin:2px;
  display: inline-block;
}
