.SelectivePane-container {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.SelectivePane-select {
  position: relative;
}

.SelectivePane-select select {
  position: absolute;
  display: none;
  z-index: 100;
}

.SelectivePane-select:hover select {
  display: block;
}
