.SettingPanel-container {
  -webkit-app-region: no-drag;
  overflow: hidden;
  margin-bottom: 0.2rem;
}

.SettingPanel-status {
  background-color: lightyellow;
  font-size: 0.5rem;
  font-family: sans-serif;
  word-break: break-all;
  padding: 0.1rem;
  min-height: 0.5rem;
}

.SettingPanel-config {
  font-size: 0.5rem;
  margin: 2px;
  padding: 6px;
  border: 2px solid gray;
  border-radius: 4px;
  overflow: hidden;
  background-color: lightgray;
}

.SettingPanel-config-row {
  margin-bottom: 0.2rem;
}

.SettingPanel-config input {
  font-size: 0.5rem;
}

.SettingPanel-config select {
  font-size: 0.5rem;
  max-width: 9rem;
}

.SettingPanel-config button {
  font-size: 0.5rem;
  margin-left: 0.1rem;
}

.SettingPanel-config form {
  display: inline-block;
}

.SettingPanel-config-toggle {
  text-align: left;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.1rem;
  color: gray;
  font-size: 0.5rem;
}

.SettingPanel-config-toggle:focus {
  outline:0;
}
