.SingleRoom-status {
  background-color: lightyellow;
  font-size: 8px;
  font-family: sans-serif;
  white-space: nowrap;
  padding-left: 20px;
  min-height: 15px;
}

.SingleRoom-config {
  overflow: hidden;
}

.SingleRoom-config-toggle {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 8px;
  line-height: 8px;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  background: none;
  padding: 1px 3px;
  color: gray;
}

.SingleRoom-body {
  display: grid;
  column-gap: 3px;
  grid-template-columns: 36px 150px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.SingleRoom-nickname {
  -webkit-app-region: no-drag
}

.SingleRoom-statusmesg {
  -webkit-app-region: no-drag
}

.SingleRoom-emoji {
  -webkit-app-region: no-drag;
}
