.SingleRoom-body {
  display: grid;
  column-gap: 3px;
  grid-template-columns: 36px 240px 1fr;
  grid-template-rows: 100vh;
}

.SingleRoom-2nd-column {
  display: grid;
  grid-template-columns: 240px;
  grid-template-rows: auto auto 1fr;
}

.SingleRoom-3rd-column {
  display: grid;
  row-gap: 5px;
  grid-template-rows: repeat(1fr);
}
