.SingleRoom-status {
  background-color: lightyellow;
  font-size: 8px;
  font-family: sans-serif;
  white-space: nowrap;
  padding-left: 2px;
}

.SingleRoom-config {
  overflow: hidden;
}

.SingleRoom-body {
  display: grid;
  column-gap: 3px;
  grid-template-columns: 36px 150px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.SingleRoom-nickname {
  -webkit-app-region: no-drag
}

.SingleRoom-statusmesg {
  -webkit-app-region: no-drag
}

.SingleRoom-emoji {
  -webkit-app-region: no-drag;
}
