name: CD

on:
  push:
    branches:
      - master

jobs:
  deploy_web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies (web)
        run: (cd web; yarn install)

      - name: Test (web)
        run: (cd web; yarn test)

      - name: Copy to dist (web)
        run: |
          (cd web; CI=false yarn build)
          mkdir -p web/dist/d
          cp -r web/build web/dist/d/`date '+%Y-%m-%d'`

      - name: Deploy (web)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web/dist
          keep_files: true
