name: CI

on:
  push:
  pull_request:

jobs:
  test_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: |
          yarn install
          ls node_modules/@daishi
          (cd web; yarn install; ls node_modules; ls node_modules/@daishi)

      - name: Test
        run: yarn test

      - name: Comment (PR)
        if: github.event_name == 'pull_request_disabled'
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: |
            Preview URL: https://codesandbox.io/s/github/${{ github.event.pull_request.user.login }}/remote-faces/tree/${{ github.head_ref }}/web/
          check_for_duplicate_msg: true

      - name: Copy to dist (master)
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          (cd web; CI=false yarn build)
          mkdir -p web/dist/d
          cp -r web/build web/dist/d/`date '+%Y-%m-%d'`

      - name: Deploy (master)
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web/dist
          keep_files: true
