name: github pages

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - 'web/**'

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Test
        run: yarn test

      - name: Copy to dist (PR)
        if: github.event_name == 'pull_request'
        run: |
          mkdir -p web/dist/pr
          cp -r web/public web/dist/pr/${{ github.event.number }}

      - name: Copy to dist (master)
        if: github.event_name == 'push'
        run: |
          mkdir -p web/dist/d
          cp -r web/public web/dist/d/`date '+%Y-%m-%d'`

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web/dist
          keep_files: true

      - name: Comment (PR)
        if: github.event_name == 'pull_request'
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUM: ${{ github.event.number }}
        with:
          msg: "Preview URL: https://dai-shi.github.io/remote-faces/pr/${PR_NUM}"
          check_for_duplicate_msg: true
